div {
    /* border-radius: 5px; */
}

.sent {
    background-color: rgb(178, 204, 140);
    width: 80%;
    padding: 0.1rem 0.5rem; 
    margin: 5px;
    margin-left: auto !important;
}

.contentOfMessage {
    /* display: flex; */
    /* margin-left: auto; */
    /* padding: 0 0.5rem;  */
    width: fit-content;

}
.received {
    margin-right: 2px;
    padding: 0.1rem 0.5rem; 
    margin: 5px;
    width: 80%;
    background-color: rgb(230, 248, 222);
}

.banner {
    display: flex;
    justify-content: center;
}

.banner__content {
    padding: 5px 10px;
    /* border-radius: 5px; */
    width: fit-content;
    background-color: skyblue;
    color: #2f2f2f;
    margin-top: 0px;
}

.time {
    text-align: right;
    color:rgb(84, 85, 84)
}

.sender {
    font-weight: bold;
}

.msg-pin-right-css,
.msg-pin-left-css {
  width: 20px;
  height: 10px;
  /* position: absolute; */
  transform: translateY(-6px);
}
.msg-pin-right-css {
  clip-path: polygon(89% 100%, 0 0, 100% 0);
  margin-left: auto;
  margin-right: 5%;
  background-color: rgb(178, 204, 140);
}
.msg-pin-left-css {
  clip-path: polygon(11% 100%, 0 0, 100% 0);
  margin-left: 5%;
  background-color: rgb(230, 248, 222);

}